<div class="row">
	<div class="col-lg-6">
		<nb-card> <nb-card-header>Create Step</nb-card-header> <nb-card-body>
		<form [formGroup]="stepFormGroup">

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="name"
						placeholder="Name*">
					<!-- 						<div class="form-control form-control-danger"> -->
					<!-- 							<strong>Please enter Name</strong> -->
					<!-- 						</div> -->
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="script"
						placeholder="Invocation script">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="artifact"
						placeholder="Artifact">
				</div>
			</div>





			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="author"
						placeholder="Author*">
				</div>
			</div>

			<div class="form-group mb-4">
				<div class="form-row mb-4">
					<div class="col">
						<ng-multiselect-dropdown [placeholder]="'Choose Capabilities*'"
							formControlName="capabilities" [data]=""
							[settings]="dropdownSettings"> </ng-multiselect-dropdown>
					</div>
					<!-- 					<div class="col"> -->
					<!-- 						<app-add-capability></app-add-capability> -->
					<!-- 					</div> -->
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="tags"
						placeholder="Tags*">
				</div>
			</div>


			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="device"
						placeholder="Device*">
				</div>
			</div>


			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="language"
						placeholder="Language*">
				</div>
			</div>


			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control "
						formControlName="architecture" placeholder="Architecture*">
				</div>
			</div>


			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="type"
						placeholder="Type*">
				</div>
			</div>

			<br>
			<div class="container-btn">
				<button class="btn btn-hero-primary btn-demo">Create Step</button>
			</div>
		</form>
		</nb-card-body> </nb-card>
	</div>
<!-- 	<div class="col-lg-6"> -->
<!-- 		<nb-card> <nb-card-header>List of Steps</nb-card-header> <nb-card-body> -->

<!-- 		<div class="table-responsive"> -->
<!-- 			<table class="table table-bordered table-striped"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th></th> -->
<!-- 						<th>Name</th> -->
<!-- 						<th>Author</th> -->
<!-- 						<th>Creation Date</th> -->
<!-- 						<th>Capabilities</th> -->
<!-- 						<th>Type</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr> -->
<!-- 						<td><a href="#"><i class="nb-edit"></i></a></td> -->
<!-- 						<th class="text-nowrap" scope="row">Step N1</th> -->
<!-- 						<td>Joh T.</td> -->
<!-- 						<td>2018-09-01 11:38</td> -->
<!-- 						<td>[123, 484]</td> -->
<!-- 						<td>Type #00651</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td><a href="#"><i class="nb-edit"></i></a></td> -->
<!-- 						<th class="text-nowrap" scope="row">Step N2</th> -->
<!-- 						<td>Kristen Ashl</td> -->
<!-- 						<td>2018-09-01 11:38</td> -->
<!-- 						<td>[123]</td> -->
<!-- 						<td>Type #00651</td> -->
<!-- 					</tr> -->


<!-- 				</tbody> -->
<!-- 			</table> -->
<!-- 		</div> -->
<!-- 		</nb-card-body> </nb-card> -->
<!-- 	</div> -->

</div>
