<div class="row">
	<div class="col-lg-6">
		<nb-card> <nb-card-header>Create Pipeline</nb-card-header> <nb-card-body>
		<form [formGroup]="pipelineFormGroup">

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="name"
						placeholder="Name*">
					<!-- 						<div class="form-control form-control-danger"> -->
					<!-- 							<strong>Please enter Name</strong> -->
					<!-- 						</div> -->
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control "
						formControlName="description" placeholder="Description*">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="project"
						placeholder="Project*">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="note"
						placeholder="Note*">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="author"
						placeholder="Author*">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="step"
						placeholder="Step ">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="success"
						placeholder="Step Success">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<input type="text" class="form-control " formControlName="failure"
						placeholder="Step Failure">
				</div>
			</div>

			<br>
			<div class="form-group mb-4">
				<div class="form-row mb-4">
					<div class="container-btn">
						<button class="btn btn-hero-primary btn-demo">Create
							Pipeline</button>
					</div>
				</div>
			</div>
		</form>
		</nb-card-body> </nb-card>
	</div>
	<div class="col-lg-6">
		<nb-card> <nb-card-header>List of Pipelines</nb-card-header>


		<nb-card-body>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Author</th>
						<th>Creation Date</th>
						<th>Steps</th>
						<th>Version</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#"><i class="nb-edit"></i></a></td>
						<th class="text-nowrap" scope="row">Pipeline N1</th>
						<td>Joh T.</td>
						<td>2018-09-01 11:38</td>
						<td>[123, 484]</td>
						<td>v1</td>
					</tr>
					<tr>
						<td><a href="#"><i class="nb-edit"></i></a></td>
						<th class="text-nowrap" scope="row">Pipeline N2</th>
						<td>Kristen Ashl</td>
						<td>2018-09-01 11:38</td>
						<td>[123]</td>
						<td>v1.1</td>
					</tr>


				</tbody>
			</table>
		</div>
		</nb-card-body> </nb-card>
	</div>

</div>
